{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["transform-inline-environment-variables", {
      "include": [
        "UPORT_CLIENT_ID",
        "UPORT_NETWORK",
        "UPORT_SIGNING_KEY"
      ]
    }]
  ]
}
