@import url(//fonts.googleapis.com/css?family=Montserrat);

@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

$body-size: 16px;
$primary: #ffa400;

@import '~bulma/bulma';

.header {
  padding: .8rem;
  border-bottom: solid 1px #eee;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1rem;
}
