@import url(//fonts.googleapis.com/css?family=Montserrat);

@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

$body-size: 16px;
$primary: #ffa400;

@import '~bulma/bulma';

.header {
  padding: .8rem;
  border-bottom: solid 1px #eee;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 1.5rem;
  text-align: center;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1rem;
}
